[submodule "External/Mustache"]
	path = External/Mustache
	url = https://github.com/bobthecow/mustache.php.git
[submodule "External/RedBean"]
	path = External/RedBean
	url = https://github.com/gabordemooij/redbean.git
